<%= tinymce %>
<%if current_user.role == "Project Manager"%>

<%=render 'errors' ,project: @project%>
<div> <center>  <%=render 'layouts/head'%></center></div>
<%= render 'layouts/nav' %>
this is for adding new project by project manager
<center>
<%= form_for @project ,:html=> {} do |t|%>
<div>
 <%= t.label :Name %>
 <%= t.text_field :name %>
</div>
<div id = 'tinymcediv'>
 <%= t.label :Requirements %>
 <%= t.text_area :requirements ,:class => "tinymce" ,:rows => 20 ,:cols => 10%>
</div>
<div>
 <%= t.label :Domain %>
 <%= t.text_field :domain %>
</div>
<div>
 <%= t.label :avatar %>
 <%= t.file_field :avatar %>
</div>
<%= t.hidden_field :user_id, :value => current_user.id%>
<div>
  <%=t.submit "submit" ,data: { confirm: "Are you sure you want to submit this form?" }%>
</div>
<%end%>
</center>
<%else%>
no access
<%end%>
<%=render 'layouts/footor'%>
