<%= tinymce %>
<div>
<center>
   <%=render 'layouts/head'%>
</center>
<%= render 'layouts/nav' %>
<%if @project.empty?%>
<h1>
   <center>NO PROJECTS ARE CREATED BY YOU</center>
</h1>
<%else%>
<center>
   </style>
   <% @project.each do|project|%>
   <fieldset>
      <div>
         <div class="h">
            <%= label_tag "Name :"%>
            <%= label_tag project.name %>
         </div>
         <div class= "h">
            <%= label_tag "Requirements:"%>
            <%= project.requirements.html_safe %>
         </div>
         <div class= "h">
            <%= label_tag "Domain"%>
            <%=project.domain%>
         </div>
         <div class= "img">
            <img id="myImg" src= "<%=project.avatar.url(:thumb)%>" alt="Trolltunga, Norway" width="300" height="200">
            <div id="myModal" class="modal">
               <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
               <img class="modal-content" id="img01">
               <div id="caption"></div>
            </div>
         </div>
         <div class= "h">
            <%= label_tag "Final Status"%>
            <%=project.final_status %>
         </div>
      </div>
   </fieldset>
   <%= button_to  edit_project_path(project), method: :get do %>
   <i class="glyphicon glyphicon-pencil"></i>
   <% end %>
   <%= button_to project, method: :delete  ,  data: { confirm: "Are you sure?" } do %>
   <i class="glyphicon glyphicon-trash"></i>
   <% end %>
   <%end%>
   <%= paginate @project %>
</center>
<%end%>
<%=render 'layouts/footor'%>
<script>
   var modal = document.getElementById('myModal');
   var img = document.getElementById('myImg');
   var modalImg = document.getElementById("img01");
   var captionText = document.getElementById("caption");
   img.onclick = function(){
       modal.style.display = "block";
       modalImg.src = this.src;
       captionText.innerHTML = this.alt;
   }
</script>
