
<%= tinymce %>
<div class="box" style="height:1200px;"><center>

  <%=render 'layouts/head'%>

</center>
<%= render 'layouts/nav' %>
<%if @project.empty?%>
<h1>
   <center>NO PROJECTS ARE CREATED BY YOU</center>
</h1>
<%else%>
<center>
   <% @project.each do|project|%>
       <div style="height:100%;">
   <fieldset>

         <div>
           <div class="form-group">
              <div class="control-label col-sm-2">
                 <strong>Project Name :</strong>
              </div>
              <div class="col-sm-3">
                 <input type="text" value = "<%= project.name %>" readonly class="form-control"/>
              </div>
           </div>
         </div>
         <br>
         <fieldset>
            <div class= "h">
               <%= label_tag "Requirements:"%>
               <%= project.requirements.html_safe %>
            </div>
         </fieldset>
         <div class="form-group">
            <div class="control-label col-sm-2">
               <strong>Domain :</strong>
            </div>
            <div class="col-sm-3">
               <input type="text" value = "<%= project.domain %>" readonly class="form-control"/>
            </div>
         </div>
         <br>
         <div class= "img">
            <img id="myImg" src= "<%=project.avatar.url(:thumb)%>" alt="Trolltunga, Norway" width="300" height="200">
            <div id="myModal" class="modal">
               <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
               <img class="modal-content" id="img01">
               <div id="caption"></div>
            </div>
         </div>
         <div class="form-group">
            <div class="control-label col-sm-2">
               <strong>Final Status :</strong>
            </div>
            <div class="col-sm-3">
               <input type="text" value = "<%= project.final_status %>" readonly class="form-control"/>
            </div>
         </div>

   </fieldset>
   <%= button_to  edit_project_path(project), method: :get do %>
   <i class="glyphicon glyphicon-pencil" style="width:40px;"></i>
   <% end %>
   <%= button_to project, method: :delete  ,  data: { confirm: "Are you sure?" } do %>
   <i class="glyphicon glyphicon-trash" style="width:40px"></i>
   <% end %>
   <%end%>
   <%= paginate @project %>
   </div>
</center>
<%end%>
<ul class="bg-bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li ></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>

</ul>
</div>
<%= render 'layouts/footor'%>

<script>
   var modal = document.getElementById('myModal');
   var img = document.getElementById('myImg');
   var modalImg = document.getElementById("img01");
   var captionText = document.getElementById("caption");
   img.onclick = function(){
       modal.style.display = "block";
       modalImg.src = this.src;
       captionText.innerHTML = this.alt;
   }
</script>
