<%= tinymce %>
<div>
<center>
   <h2 class="head"> smartData Enterprises</h2>
   </center>
   <%= render 'layouts/nav' %>
<%if @project.empty?%>
<h1>
   <center>NO PROJECTS ARE THERE</center>
</h1>
<%else%>

<center>


   <style>
      table ,th,td
      {border: 4px solid grey; padding:5px 5px 5px 5px; width:50%}
   </style>
   <table>
      <thead>
         <tr>
            <th height="50">Name</th>
            <th height="50">Requirement</th>
            <th height="50"> Domain</th>
            <th height="50"> Avatar</th>
            <!--<th height="50">Document</th>-->
            <th height="50">Team</th>
            <th height="50"> Final status</th>

         </tr>
      </thead>
      <tbody>
         <% @project.each do|project|%>
         <tr>
            <td>
               <%=project.name %>
            </td>
            <td>
               <%=project.requirements.html_safe %>
            </td>
            <td>
               <%=project.domain%>
            </td><td>
          <%= image_tag project.avatar.url(:thumb)%>
          </td>
      <!--<td><%=image_tag project.document.url(:thumb) %>  </td>-->

          <td class="td_size">
           <% Assign.where(project_id:project).each do |t| %>
           <%=User.find(t.user_id).role%>:
           <%=User.find(t.user_id).name%><br>
          Status:
          <%Assign.connection.clear_query_cache%><%=t.status%><br>
               <%end%>
          </td>
          <td>    <form method='post' , action= "/final_status">
              <%= label_tag @final_status, 'Completed' %>
              <%= radio_button_tag :status,"Done"  %>
              <%= label_tag @final_status, 'Incompleted' %>
              <%=radio_button_tag :status, "Pending" %>
           <%= submit_tag  "submit" %>
         </td>
            <td>
              <%= button_to  edit_project_path(project) do %>
               <i class="glyphicon glyphicon-pencil"></i>
              <% end %>

               <%= button_to project, method: :delete  , :onclick => "alert('are you sure?')" do %>
            <i class="glyphicon glyphicon-trash"></i>
           <% end %>
            </td>
            <%end%>
      </tbody>
   </table>
<%= paginate @project %>
</center>
<%end%>
