<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div >

     <ul class="nav nav-tabs">
       <li role="presentation"><%= link_to 'Home', root_path, method: :get %></li>
      <li role="presentation"><%=link_to 'Add New Project',new_project_path, method: :get%></li>
      <li role="presentation"><%=link_to 'View Team ', view1_path, method: :get%></li>
      <li role="presentation"><%=link_to 'Show Projects', show1_path, method: :get%></li>
      <li role="presentation"><%=link_to 'Assign Projects', assigns_path, method: :get%></li>
      <ul class="nav navbar-right">
        <li role="presentation"><%=link_to 'Logout', destroy_user_session_path, method: :delete%></li>
        </ul>
    </div>
  </div>
</nav>
